<app-header class="header"></app-header>
<div style="display: flex;align-items: center;justify-content: center;">

    <div class="home-info">
        <ngb-carousel #carousel [showNavigationArrows]="false" [draggable]="true" (slide)="countSlide($event)"
            [interval]="0" *ngIf="imgs.length>0">
            <ng-template ngbSlide [id]="''+imgs.indexOf(img)" *ngFor="let img of imgs">
                <div class="picsum-img-wrapper" class="geral-carousel">
                    <img [src]="img" class="img-carousel" />
                </div>

            </ng-template>



            <!--<Carousel.Item>
                <div class="img-size">
                    <img class="formato-img-carousel" src="../imagens/noticia.jpg"></img>
                    <div class="caption-img-carousel">
                        <p class="text-caption-img-carousel">Lorem ipsum dolor sit amet.</p>
                        <a>
                            <div class="centralizar-seta"><span
                                    class="material-icons icon-carousel-item">&#xe5c8;</span></div>
                        </a>
                    </div>
                </div>
            </Carousel.Item>
            <Carousel.Item>
                <div class="img-size">
                    <img class="formato-img-carousel" src="../imagens/noticia2.jpg"></img>
                    <div class="caption-img-carousel">
                        <p class="text-caption-img-carousel">Lorem ipsum dolor sit amet.</p>
                        <a>
                            <div class="centralizar-seta"><span
                                    class="material-icons icon-carousel-item">&#xe5c8;</span></div>
                        </a>
                    </div>
                </div>
            </Carousel.Item>
            <Carousel.Item>
                <div class="img-size">
                    <img class="formato-img-carousel" src="../imagens/noticia3.webp"></img>
                    <div class="caption-img-carousel">
                        <p class="text-caption-img-carousel">Lorem ipsum dolor sit amet.</p>
                        <a>
                            <div class="centralizar-seta"><span
                                    class="material-icons icon-carousel-item">&#xe5c8;</span></div>
                        </a>
                    </div>
                </div>
            </Carousel.Item>-->

        </ngb-carousel>


        <a class="caption" (click)="router.navigate(['pub',post[slide].id])" *ngIf="imgs.length>0">
            <p [innerHTML]="post[slide].titulo"></p>
            <mat-icon class="arrow-link">arrow_forward</mat-icon>
        </a>




        <div class="ajeitar-btn" *ngIf="imgs.length>0">
            <button (click)="router.navigate(['pubs'])" class="discreet-button">Ver Tudo</button>
        </div>

        <a *ngIf="verificaNivel()&&(imgs.length==0)" (click)="router.navigate(['nova-pub'])" class="ajeitar-btn">
            <mat-icon class="seta-voltar">
                add_circle
            </mat-icon>
        </a>

        <img class="logo-paw" src="assets/imgs/Paw.png" />
        <h2 class="quem-somos-title">Quem Somos</h2>
        <h5 class="quem-somos-subtitle">Nós iremos tomar conta do seu animal</h5>
        <p class="quem-somos-text">Com o propósito de cuidar da saúde e do bem-estar dos pets, a clínica veterinária
            Ilhapet nasceu em 2017 através de um sonho. A idéia foi criar um ambiente singular ao qual você possa deixar
            seu filho de 4 patas como se estivesse em casa.</p>
        <p class="quem-somos-text">Estamos localizados no bairro do Cohajap, de frente para o parquinho da pizzaria One.
            Contamos com uma equipe de profissionais especializados, e disponibilizamos de atendimento veterinário 24h,
            além do serviço de hotel e creche Pet, banho,tosa, produtos,medicamentos ,exames,cirurgias…</p>
        <p class="quem-somos-text">Nosso objetivo é oferecer um serviço de qualidade aliado ao respeito e carinho a vida
            do seu melhor amigo.</p>

        <div class="sociais">
            <a href="https://www.instagram.com/ilhapetoficial/?hl=en"><img width="30px" class="sociais-icons"
                    src="assets/imgs/igdark.svg" /></a>
            <a
                href="https://api.whatsapp.com/send/?phone=5598984008159&app_absent=0"><img
                    width="30px" class="sociais-icons" src="assets/imgs/wpdark.svg" /></a>
        </div>

    </div>

    <app-footer-general [num]="1" *ngIf="verifica()"></app-footer-general>
    <app-footer-client [num]="1" *ngIf="!verifica()"></app-footer-client>


</div>