<div class="tela-login">
    <app-header class="header"></app-header>
    <h1 class="titulo-login">Login</h1>

    <form class="form" [formGroup]="form" (ngSubmit)="submit()">
        <div class="select-form-format">
            <div class="select-outline">
                <div class="icon-spacing">
                    <span class="material-symbols-outlined">mail</span>
                </div>
                <mat-form-field class="Sintomas">
                    <mat-label>E-mail</mat-label>
                    <input matInput type="text" placeholder="E-mail" name="email" formControlName="email"
                        class="campo-login">
                </mat-form-field>
                <!--<input type="text" [(ngModel)]="sintomas" id="" class="sintomas-field">-->

            </div>
        </div>
        <div style="height: 3vh;">
            <p *ngIf="form.controls['email'].errors?.['required']">É necessário informar o e-mail!</p>
        </div>

        <div class="select-form-format">
            <div class="select-outline">
                <div class="icon-spacing">
                    <span class="material-symbols-outlined">lock</span>
                </div>
                <mat-form-field class="Sintomas">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" placeholder="Senha" name="password" formControlName="password"
                        class="campo-login">
                </mat-form-field>
                <!--<input type="text" [(ngModel)]="sintomas" id="" class="sintomas-field">-->

            </div>
        </div>
        <div style="height: 3vh;">
            <p *ngIf="form.controls['password'].errors?.['required']">É necessário informar a senha</p>
            <p *ngIf="form.controls['password'].errors?.['minlength']">A senha deve ter no mínimo 5 caracteres!</p>
            <p *ngIf="form.controls['password'].errors?.['maxlength']">A senha deve ter no máximo 20 caracteres!</p>
        </div>
        <div style="display: flex;width: 100%;justify-content: center;">
            <button [disabled]="form.invalid" id="loginButton" class="button-agendar"
                [ngStyle]="{ backgroundColor: form.invalid ? 'whitesmoke' : 'var(--primary-pet-color)', color: form.invalid ? '' : 'whitesmoke'}">

                <mat-spinner
                    [ngStyle]="{ display: isLoading ? 'flex' : 'none', justifyContent: isLoading ? 'center' : 'none'}"
                    [diameter]="30" style="margin-right: 5%;width: 95%;">

                </mat-spinner>
                <p class="text-aligner"
                    [ngStyle]="{ display: isLoading ? 'none'  : 'flex',justifyContent: isLoading ? 'none'  : 'center'}">
                    Entrar</p>
            </button>

        </div>


    </form>
    <div class="cadastro-login">
        <h4 class="simple-text">Não tem uma conta? <a style="text-decoration: underline;"
                (click)="router.navigate(['cadastro'])">Crie uma</a></h4>
        <h4 class="simple-text" style="display:none">Não Consegue acessar sua conta?</h4>
        <app-footer-general [num]="2"></app-footer-general>

    </div>


</div>